body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.flight-search {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.flight-sort {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 24px;
}

.sort-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.sort-header h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
}

.sort-button {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.sort-button:hover {
  background-color: #e0e0e0;
}

.flight-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flight-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #e0e0e0;
  flex-direction: column;
}

.flight-item:last-child {
  border-bottom: none;
}

.flight-details {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flight-details p {
  margin: 4px 0;
  font-size: 14px;
}

.flight-details p.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flight-duration,
.flight-price {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flight-airline {
  display: flex;
  align-items: center;
}

.flight-airline .icon {
  width: 30px;
  margin-right: 8px;
  fill: #428bca;
}

.flight-duration p.time {
  font-weight: 500;
}

.flight-price p.price {
  font-weight: 500;
  font-size: 16px;
}

.flight-price p.emi,
.refund-details {
  font-size: 12px;
  color: #999;
}

.book-button {
  background-color: #f56523;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
  height: 2.5rem;
}

.book-button:hover {
  background-color: #e04e1a;
}

.details-button {
  color: #74c0fc;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 8px;
}

.book-section {
  display: flex;
  flex-direction: column;
}

.extra-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
